<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=no, width=device-width">
    <title>One Sheet</title>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="sketch.js"></script>
    <script type="text/javascript" src="osexts.js"></script>
    <link type="text/css" rel="stylesheet" href="sketch.css" />

</head>

<body>
    <div class="wordTipDisplay">
        <h1 style="color: white;" id="wordTp"></h1>
    </div>
    <div class="container" id="container">
        <canvas id="drawingCanvas" width="500" height="500"></canvas>
    </div>
    <div id="saveArea">
        <img id="canvasImg" />
        <h2>Right Click to Save...</h2>
        <button id="btnBack">Back</button>
    </div>
    <div id="dsid"><%= discordId %></div>
    <div id="tools">
        <table>
            <tr>
                <td><label for="colorChange">Color: </label><input type="color" id="colorChange" /></td>
                <td><label for="lineWidth">Width: </label><input type="range" id="lineWidth" min="1" max="10" step="1" /></td>
                <td><button id="btnSave">Save</button><button id="btnClear">Clear</button><button id="btnJoinRoom">Join Game</button><p style="color:white;" id="timeLeft"></p><p style="color:white;" id="word"></p><input id="guessInput"/></td>
            </tr>
        </table>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>

</html>